.form {
    display: flex;
    border: solid 1px;
    width: 50vw;
    height: auto;
    background-color: var(--color-6);
    border-radius: 15px;
    margin-top: 200px;
    padding: 20px;
}

label {
    padding: 15px 15px
}

input {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 300px;
}

.content-form {
    width: 90vw;
    height: 90vh;
    border: solid 1px;
    background-color: var(--color-5);
}
button {
    color: #fff;
    background-color: var(--color-1);
    border-radius: 55px;
    margin-top: 25px;
}