.show-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-radius: 25px;
    width: 250px;
    font-family: Poppins;
    font-weight: 700;
    background-color: var(--color-1);
    color: #fff;
}